.scroll {
  overflow-y: auto;
}

.scroll-table {
  max-height: 77vh;
  overflow-y: auto;
}

.h-85 {
  height: 85%;
}

.cps-container {
  margin-left: 0 !important;
  margin-right: 0 !important;
  max-width: 3840px !important;
}